# Shared
TZ=America/Lima

# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Postgres credentials (per service)
PG_USER=app
PG_PASSWORD=app123

# Keycloak DB
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak123

# Exposed ports (optional)
PG_USERS_PORT=5432
PG_CATALOG_PORT=5433
PG_ORDERS_PORT=5434
PG_PAYMENTS_PORT=5435
PG_DELIVERIES_PORT=5436
PG_KEYCLOAK_PORT=5437
